name: ci

on: [push]

jobs:

  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      - name: setup
        uses: actions/setup-go@v1
        with:
          go-version: 1.12
          id: go

      - name: checkout
        uses: actions/checkout@v1

      - name: integration-tests
        run: make integration-tests
