name: ci

on: [push]

jobs:

  build:
    name: build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        concourse-version:
          - "6.5.1"
          - "6.7.0"
          - "7.0.0"
    steps:
      - name: setup
        uses: actions/setup-go@v2
        with:
          go-version: '1.14'

      - name: checkout
        uses: actions/checkout@v1

      - name: unit-tests
        run: make unit-tests

      - name: ensure-containers-exist
        env:
          CONCOURSE_VERSION: ${{ matrix.concourse-version }}
        run: |
          docker-compose up -d && docker-compose down

      - name: integration-tests
        run: sudo make integration-tests
