name: ci

on: [push]

jobs:

  build:
    name: build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        concourse-version:
          - "6.5.1"
          - "6.7.0"
          - "7.0.0"
          - "7.8.2"
        terraform-version:
          - "1.2"
        include:
          - terraform-version: "0.13"
            concourse-version: "7.8.2"
          - terraform-version: "0.14"
            concourse-version: "7.8.2"
          - terraform-version: "0.15"
            concourse-version: "7.8.2"
          - terraform-version: "1.0"
            concourse-version: "7.8.2"
          - terraform-version: "1.1"
            concourse-version: "7.8.2"
    steps:
      # avoid confusion around which terraform is being used
      - name: rm existing terraform
        run: type -P terraform && sudo rm $(type -P terraform)

      - name: setup
        uses: actions/setup-go@v2
        with:
          go-version: '1.18'

      - name: checkout
        uses: actions/checkout@v1

      - name: unit-tests
        run: make unit-tests

      - name: ensure-containers-exist
        env:
          CONCOURSE_VERSION: ${{ matrix.concourse-version }}
        run: |
          docker-compose up -d && docker-compose down

      - name: integration-tests
        env:
          CONCOURSE_VERSION: ${{ matrix.concourse-version }}
          TF_ACC_TERRAFORM_VERSION: ${{ matrix.terraform-version }}
        run: |
          sudo --preserve-env make integration-tests-prep-keys
          make integration-tests
